<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lavanderias Comunitarias</title>
</head>
<body>
    <%- include('./parciales/navbar')%>

    <div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('/estaticas/assets/imagenes/lavanderia_jumbotron.jpg') ;
    height: 400px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100 mt-5">
                <div class="text-black">
                    <h1 class="mb-3">Lavanderias Comunitarias </h1>
                    <h4 class="mb-3">Liberamos el tiempo de las mujeres para que puedan estudiar, emprender o tener actividades de respiro. </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <p>De la mano del Sistema Distrital de Cuidado, la Alcaldía creó lavanderías comunitarias con el objetivo de disminuir el tiempo que las mujeres invierten en esta tarea para que puedan aprovecharlo en otras actividades como formarse en carreras técnicas, tecnológicas o profesionales que les permitan generar ingresos.
            Una de las lavanderías gratuitas está ubicada en el Centro de Desarrollo Comunitario (CDC) en el barrio Julio César Sánchez, en la localidad de Usme. Este centro de lavado ha beneficiado a más de 19 mil personas de barrios como el Santa Fe y la Candelaria, según datos de la Alcaldía.
            Esta lavandería, ubicada al sur de la ciudad, ya cuenta con más de 60 mujeres cuidadoras vinculadas, residentes de la localidad y sus alrededores, y presta servicio de lunes a viernes en dos franjas: en la mañana y en la tarde.</p>
    </div>
    <div class="container mt-4">
        <h3>¿Quién puede acceder a ellas?</h3>
        <p>Las lavanderías comunitarias hacen parte de las ‘Manzanas del Cuidado’, estos centros comunitarios están abiertos para todas las personas que cuidan personas que requieren altos niveles de apoyo como niños menores de 5 años, personas en condición de discapacidad o personas mayores.
            Aunque la mayoría de las beneficiarias de esta estrategia de cuidado son mujeres, el Sistema Distrital de Cuidado también ofrece sus servicios a los hombres, para que aprendan las diferentes tareas del hogar y del cuidado, y también pueden disfrutar de todos los servicios prestados por los Centros de Desarrollo Comunitario.</p>
    </div>
    <div class="container mt-4">
        <h3>¿Dondé están ubicadas las lavanderías gratuitas?</h3>
        <p>En la actualidad Bogotá, seis de las 19 ‘Manzanas del Cuidado’ cuentan con el servicio de lavandería comunitaria. Estas están ubicadas en Teusaquillo, Puente Aranda, Fontibón, Kennedy y Usme.</p>
            <ol>Puente Aranda: CDC José Antonio Galán – Calle 1 b # 57 - 51</ol>
            <ol>Fontibón: CDC La Giralda – Carrera 104 b # 22 j - 15</ol>
            <ol>Kennedy: CDC Bellavista – Calle 30 sur # 94 c -29</ol>
            <ol>Usme: CDC Julio César Sánchez – Calle 91 sur # 4 c-26</ol>
            <ol>Santa Fe: CDC Lourdes – Carrera 2 # 4 -10</ol>
            <ol>Teusaquillo: Casa de la participación – Calle 39 b #19 -46</ol>
    </div>
    
</body>
</html>