<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manzanas de Cuidado</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="/estaticas/css/styleBackground.css">
</head>
<body>
    <%- include('./parciales/navbar')%>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="/estaticas/assets/imagenes/logo.png" alt="">
            </div>   
        </div>
    </div>

    <div class="container mt-4">
        <p>Las Manzanas del Cuidado son una de las formas en las que opera el Sistema Distrital de Cuidado en territorio. Son áreas que concentran servicios de cuidado, nuevos y existentes, con un criterio de proximidad que permite que las personas puedan acceder a ellos sin tener que caminar más de 20 minutos.
            
            Su objetivo es empaquetar servicios de forma próxima a las casas de las personas que cuidan y de las que requieren cuidados, y prestarlos de forma simultánea: mientras quien cuida accede a formación o respiro, quien requiere cuidado está en espacios de bienestar y desarrollo de capacidades. 
            
            Además, las Manzanas son una nueva forma de ordenamiento territorial en Bogotá, que pone en el centro de la planeación urbana las necesidades de las cuidadoras.</p>
    </div>
    <div class="container">
        <h3>Así se hizo</h3>
        <p>Las Manzanas de Cuidado y, en general el Sistema Distrital de Cuidado, es el proyecto con el que la Secretaría de la Mujer 2020-2023 llegó a esta Alcaldía. En el primer trimestre de 2020 comenzó el diagnóstico, la estructuración del proyecto y los planes para integrar a 13 sectores de la administración en la idea. A finales de octubre, el proyecto se hizo realidad con la inauguración de la Manzana de Manitas y, dos semanas después, vino la segunda en Bosa. 
        En su primer mes de operaciones, la Manzana de Manitas llegó a beneficiar a 374 cuidadoras (y se proyecta que en el cuatrenio sean 17.466); y la de Bosa, a 541 (con proyección a 36.420 en cuatrenio). Ambas serán el piloto para desarrollar otras seis en 2021 en otras localidades de Bogotá. </p>
        <div class="col text-center">
            <img src="/estaticas/assets/imagenes/manzana_manitas.jpeg" alt="" height="200" width="500" class="mx-auto">
        </div>
        <p class="mt-4">La ubicación e instalación de una Manzana de Cuidado en una localidad y barrios específico depende de 4 variables. 1) La demanda de cuidado: qué porcentaje de menores de 5 años y de mayores de 80 hay en el territorio y qué relaciones de dependencia hay. 2) La presencia de cuidadoras: el % de mujeres de 15 años o más que solo hagan actividades del hogar y el % de hogares monoparentales de mujeres. 3) La pobreza: con el índice de Pobreza Monetaria de Mujeres. 4) Si la localidad pidió en los presupuestos participativos que se asignen recursos al cuidado.
            Estos indicadores les arrojan un ‘top’ de localidades a priorizar. Luego, vienen los análisis para ver dónde ubicarlas: en principio, dice Moreno, la idea es aprovechar la infraestructura existente y potenciarla. </p>
    </div>
    
</body>
</html>