<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localidades</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
</head>
<body>
  <%- include('./parciales/navbar')%>
  <br>

    <div class="mt-5">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Título de la tarjeta</h5>
              <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
              <a href="#" class="btn btn-primary">Ir a algún lugar</a>
            </div>
          </div>
    </div>
    <div class="text-center mt-4">
      <h3 class="text-center">Encuentra la Manzana cuidadora más cercana</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d207921.16688612735!2d-74.19906808116868!3d4.653478211957052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smanzanas%20cuidadoras!5e0!3m2!1ses!2sco!4v1695771721591!5m2!1ses!2sco" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </body>
</html>