<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manzanas de Cuidado</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="/estaticas/css/styleBackground.css">
</head>
<body>
    <%- include('./parciales/navbar')%>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="/estaticas/assets/imagenes/logo.png" alt="">
            </div>   
        </div>
    </div>

    <div class="container mt-4">
        <p>Las Manzanas del Cuidado son una de las formas en las que opera el Sistema Distrital de Cuidado en territorio. Son áreas que concentran servicios de cuidado, nuevos y existentes, con un criterio de proximidad que permite que las personas puedan acceder a ellos sin tener que caminar más de 20 minutos.
            
            Su objetivo es empaquetar servicios de forma próxima a las casas de las personas que cuidan y de las que requieren cuidados, y prestarlos de forma simultánea: mientras quien cuida accede a formación o respiro, quien requiere cuidado está en espacios de bienestar y desarrollo de capacidades. 
            
            Además, las Manzanas son una nueva forma de ordenamiento territorial en Bogotá, que pone en el centro de la planeación urbana las necesidades de las cuidadoras.</p>
    </div>
    <div class="container text-center">
        <div class="container-fluid mt-5 p-0">
            <h3 class="text-center">Conoce más de las Manzanas de cuidado</h3>
             <video class="mt-3" src="../estaticas/assets/videos/y2mate.com - Bogotá tiene 19 Manzanas del Cuidado para las mujeres_360p.mp4" width="1150px" controls loop></video>
        </div>
    </div>
    
</body>
</html>